django-cms
djangocms-simple-admin-style
djangocms-versioning
djangocms-alias
django-filer
djangocms-text
djangocms-link
djangocms-picture
git+https://github.com/django-cms/djangocms-rest
drf-spectacular
