git+https://github.com/django-cms/django-cms@release/5.0.x
djangocms-versioning
djangocms-alias
django-filer
djangocms-text
djangocms-link
djangocms-picture
git+https://github.com/django-cms/djangocms-rest@main
drf-spectacular
